@model List<Hoodie.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products in this Category</h2>

@* to present the products in the category *@

<!-- RELATED PRODUCT SECTION -->
<section class="clearfix relatedProduct">
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-6 col-lg-3">

                    <a asp-action="ProductDetails" asp-route-id="@product.ProductId" class="realatedInner">
                        <div class="productBox">
                            <img src="~/Img/img1/@product.Image"  alt="Image Product" class="img-responsive">
                        </div>
                        <p>@product.Description</p>
                        <div class="productName">@product.Name</div>
                        <div class="productPrice">@product.Price</div>
                    </a>
                
            </div>}
        </div>
</section>
