@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CHECK OUT SECTION -->
<section class="clearfix checkout">
    <div class="container">
        <form>
            <div class="panel panel-default checkInfo">
                <div class="panel-heading patternbg">1. Billing</div>

                <div class="panel-body">
                    <div class="radio-inline chooseOption">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Pay with new card
                            </label>
                        </div>

                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="control-label text-md-right col-md-3 col-xl-2" for="card">Name on Card:</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="card" required="" placeholder="Name on Card">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label text-md-right col-md-3 col-xl-2" for="number">Card Number</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="number" placeholder="###.###.###">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label text-md-right col-md-3 col-xl-2" for="number">Expires on:</label>
                                <div class="dateSelect col-md-7">
                                    <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                                        <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                                        <div class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label text-md-right col-md-3 col-xl-2" for="cvcnumber">Security Code:</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="cvcnumber" placeholder="CVC">
                                    <i class="fa fa-question-circle helpText" aria-hidden="true"></i>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label class="control-label text-md-right col-md-3 col-xl-2" for="postalcode">Postal Code:</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="postalcode" placeholder="Postal Code">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3 col-xl-2"></div>
                                <div class="col-md-7">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Remember this Card</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3 col-xl-2"></div>
                                <div class="col-md-7">
                                    <button type="submit" class="btn btn-primary">Use this card</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="cardTitle extraSpace">
                        or
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="radio-inline chooseOption">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Pay with <img src="~/Img/extra/paypal.png" alt="Image paypal">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default cartInfo mb-4">
                <div class="panel-heading patternbg">2. Comfirm and Pay</div>
                <div class="panel-body tableArea">
                </div>
            </div>

            <div class="paymentPart">
                <div class="form-group">
                    <div class="totalAmount"><span>Total:</span><strong>$158</strong></div>
                    <button type="submit" class="btn btn-primary">Complete payment</button>
                </div>
            </div>
        </form>
    </div>
</section>

