@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- USER SECTION -->
<section class="clearfix userSection padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-inline squareBtn">
                    <li class="li"><a asp-controller="User" asp-action="Profile" class="btn btn-common btn-theme cursor-default">Profile</a></li>
                    <li class="li"><a asp-controller="User" asp-action="AllOrders" class="btn btn-common">All Orders</a></li>
                    <li class="li"><a asp-controller="User" asp-action="Wishlist" class="btn btn-common">Wishlist</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="innerWrapper">
                    <div class="orderBox  patternbg">
                        profile
                    </div>

                    <div class="profile">
                        <div class="row">
                            <div class="col-md-3 col-xl-2">
                                <div class="thumbnail">
                                    <img class="lazyestload" data-src="img/home/team-1.jpg" src="img/home/team-1.jpg" alt="profile-image">
                                   <div class="caption">
                                      <div  class="imagediv">
                                        <span class="visibleimg"></span>
                                        <span class="showonhover">Change Avatar</span>
                                        <input id="selectfile" type="file" name="" style="display: none;" />
                                      </div>
                                    </div> 
                                </div>
                            </div>

                            <div class="col-md-9 col-xl-10">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-xl-2 control-label text-md-right">Full Name</label>
                                        <div class="col-md-8 col-xl-10">
                                            <input type="text" class="form-control" required="" placeholder="Enter Your Fast Name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-xl-2 control-label text-md-right">Phone Number</label>
                                        <div class="col-md-8 col-xl-10">
                                            <input type="text" class="form-control" placeholder="Enter Your Phone no">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-xl-2 control-label text-md-right">Email Address</label>
                                        <div class="col-md-8 col-xl-10">
                                            <input type="email" class="form-control" placeholder="Enter Your Email Address">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                      <label class="col-md-4 col-xl-2 control-label text-md-right">Password</label>
                                      <div class="col-md-8 col-xl-10">
                                        <input type="password" class="form-control"  placeholder="Enter Password">
                                      </div>
                                    </div>

                                    <div class="form-group row">
                                      <label class="col-md-4 col-xl-2 control-label text-md-right">New Password</label>
                                      <div class="col-md-8 col-xl-10">
                                        <input type="password" class="form-control" placeholder="Enter New Password">
                                      </div>
                                    </div>

                                    <div class="form-group row justify-content-md-end">
                                        <div class="col-lg-offset-10 col-xl-2 col-offset-9 col-md-3">
                                            <button type="submit" class="btn btn-primary btn-block">Edit Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

